* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;

}

nav ul {
    background-color: #757575;
    width: 100%;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover {
    background-color: black;
}

/* /////////////////// CONTENIDO */
.contenido {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

h2 {
    font-size: xx-large;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0%;
}

p {
    background-color: white;
    color: black;
    ;
}

.imagenes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

.imagenes img {
    width: 200px;
    height: 200px;
}

.imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen p {
    margin-top: 10px;
    text-align: center;
}

.consultas {
    width: 400px;
    background-color: white;
    padding: 30px;
    margin-top: 100px;
    margin: auto;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif color black;
}

.consultas h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.data {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.button.hover {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px;
}


.producto p {
    text-align: center;
}

.producto {
    text-align: center;
    padding: 20px;
    margin: 10px;

}

button {
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: grey;
    cursor: pointer;
}

button:hover {
    color: wheat;
}

.quienes-somos p {
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quienes-somos h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
